fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy[asyncio]==2.0.35
# asyncpg==0.29.0
pydantic==2.9.2
pydantic-settings==2.5.2
passlib[argon2]==1.7.4
argon2-cffi==23.1.0
pyjwt[crypto]==2.9.0
httpx==0.27.2
python-multipart==0.0.9
slowapi==0.1.9
itsdangerous==2.2.0
email-validator==2.2.0
structlog==24.1.0
pytest==8.2.2
pytest-asyncio==0.23.7
anyio==4.4.0
testcontainers==4.7.2
aiosqlite==0.20.0
